{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 20px">
            <a class="btn btn-success" href="/admin/add" target="_blank">
                <span class="glyphicon glyphicon-plus-sign"></span>
                添加管理员
            </a>
            <div style="float: right" class="col-md-4">
                <form method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜索管理员ID" name="q"
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span>
                    固原一中机器人创新工作室管理员列表
                </div>
                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>重置密码</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in queryset %}
                        <tr>
                            <td>{{ obj.id }}</td>
                            <td>{{ obj.username }}</td>
                            <td>********</td>
                            <td><a href="/admin/{{ obj.id }}/reset/" class="btn btn-info btn-xs">重置密码</a></td>
                            <td>
                                <a href="/admin/{{ obj.id }}/edit/" class="btn btn-primary btn-xs">编辑</a>
                                <a href="/admin/{{ obj.id }}/delete/" class="btn btn-danger btn-xs">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination">
                    {{ page_string }}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
