{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div style="margin-bottom: 20px">
            <a class="btn btn-success" href="/depart/add" target="_blank"  style="display: {{ admin_operate_state }}">
                <span class="glyphicon glyphicon-plus-sign"></span>
                添加职能
            </a>
            <div style="float: right; display: {{ admin_operate_state }}" class="col-md-4" >
                <form method="get">
                    <div class="input-group" >
                        <input type="text" class="form-control" placeholder="搜索职能ID" name="q" value="{{ search_data }}">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-tasks"></span>
                    固原一中机器人创新工作室职能分配
                </div>
                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>职能</th>
                        <th style="display: {{ admin_operate_state }}">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in queryset %}
                        <tr>
                            <td>{{ obj.id }}</td>
                            <td>{{ obj.title }}</td>
                            <td style="display: {{ admin_operate_state }}">
                                <a href="/depart/{{ obj.id }}/edit/" class="btn btn-primary btn-xs">编辑</a>
                                <a href="/depart/{{ obj.id }}/delete/" class="btn btn-danger btn-xs">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                    <ul class="pagination">
                        {{ page_string }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}