{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>考核试题编辑<small>Questions Edit</small></h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6" style="display: flex;justify-content: center;align-items: center;">
                    <a href="/exam/objective/edit" class="btn btn-success btn-lg">主观题部分</a>
                </div>
                <div class="col-md-6" style="display: flex;justify-content: center;align-items: center;">
                    <a href="/exam/subjective/edit"class="btn btn-info btn-lg">客观题部分</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}