{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ state_list.8 }}</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-6.4.0/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">固原一中机器人创新工作室</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{{ state_list.0 }}"><a href="/index">首页</a></li>
                <li class="{{ state_list.1 }}"><a href="/founding">资讯</a></li>
                <li class="{{ state_list.2 }}"><a href="/founding">学习</a></li>
                <li class="{{ state_list.3 }}"><a href="/founding">工具</a></li>
                <li class="{{ state_list.4 }} dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">成员<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="{{ state_list.5 }}"><a href="/user/list">成员列表</a></li>
                        <li class="{{ state_list.6 }}"><a href="/depart/list">职能分配</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="{{ state_list.7 }}"><a href="/test/state">考核状态</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="display:{{ login_state }}"><a href="/login">登录</a></li>
                <li class="dropdown" style="display:{{ logout_state }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/founding">主页</a></li>
                        <li><a href="/founding">个人信息</a></li>
                        <li role="separator" class="divider" style="display: {{ super_admin_operate_state }}"></li>
                        <li><a href="/admin/list/" style="display: {{ super_admin_operate_state }}">管理员</a></li>
                        <li><a href="/exam/edit/" style="display: {{ super_admin_operate_state }}">题目编辑</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout/">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--<div id="particles-js"> -->
    <div>
        {% block content %}
        {% endblock %}
    </div>
<!--</div>-->
    <!--<script src='{% static 'js/particles.min.js' %}'></script>-->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
</body>
</html>